# Compiler files
cache/
out/
!out/YieldStrategyManager.sol/*
!out/MorphoBaseStrategy.sol/MorphoBaseStrategy.json
!out/AaveV3BaseStrategy.sol/AaveV3BaseStrategy.json

/broadcast/*

# Docs
docs/

# Dotenv file
.env
